* {
    box-sizing: border-box;
    font-family: "Roboto", serif;
    margin: 0;

}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    font-weight: 300;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 1rem 13rem 4rem 13rem;
    gap: 48px;

}

.logo-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
    padding-top: 0px;

}

.header-logo {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    color: #f9faf8;
    text-align: left;
    width: 400px;
    font-weight: 700;
}

.header-links {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

.hero-header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.hero-messaging {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #e5e7eb;
    gap: 8px;
    width: 400px;
}

.strong-message {
    display: flex;
    font-size: 48px;
    font-weight: 900;
}

.hero-image {
    background-color: #6E747C;
    padding: 100px 150px;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border-color: #3882f6;
    color:#e5e7eb;
    font-weight: 700;
    padding: 8px 24px;
    align-self: flex-start;
    border-radius: 4px;
    border: none
}

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
}

.random-info-header {
    margin: 32px 0; 
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.random-subtext {
    display: flex;
    justify-content: space-evenly;
    gap: 6rem;
}

.random-subtext-item {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 8rem 20rem;
}

.quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
    padding-bottom: 2rem;
}

.quotee {
    text-align: right;
    font-weight: 700;
    font-size: 18px;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 10rem;
}

.cta-section {
    display: flex;
    background-color:#3882f6;
    border-radius: 4px;
    justify-content: space-evenly;
    color: white;
    padding: 3rem 6rem;
    gap: 13rem;
}

.cta-textsection {
    display: flex;
    flex-direction: column;
}

.cta-header {
    font-size: 24px;
    font-weight: 900;
}

.cta-button {
    border: white solid 1px;
    align-self: flex-end;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 2rem;
}